
  <h1>Welcome to lallaland</h1>  
<div class="container main" ng-controller="RoomController">
    <div>
        <div class="span10 offset1" style="text-align: center">
            <h2>System details updated using server-sent events</h2>
        </div>
        <ul ng-repeat="channel in channels">
            <li><a href="rooms/{{Channel}}">{{roomName}}</a></li>
            <li><button ng-click="joinChannel(Channel)">{roomName}}</button></li>
        </ul>
    </div>
   
<form>
    <input type="text" ng-model="form.channel"  />
    <button ng-click="createChannel()">Add</button>
</form>
<form>
    <input type="text" ng-model="form.message"/>
    <button ng-click="sendMessage(selectedChannel)">Add</button>
</form>
    
</div>

</body>


